{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel">Movies</h3>
                <h4 style="text-align: right">Hi, {{ request.user }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-cogs"></i>&nbsp;Movies
                        </h3>
                        <div style="text-align: right">
                            {% if request.user.is_superuser %}
                                <button type="button" onclick="location.href='{% url "add_movies" %}'" class="btn btn-primary btn-sm">Add</button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form method="get" action="{% url 'view_movies' %}" class="form-inline">
                                    <div class="form-group">
                                        <label>
                                            Movie:<br>
                                            <input type="text" name="name" id="name" placeholder="{{ request.GET.name }}">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Director:<br>
                                            <input type="text" name="director" id="director" placeholder="{{ request.GET.director }}">
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                                    <button type="reset" class="btn btn-default btn-sm" id="reset"
                                            onclick="location.href='{% url 'view_movies' %}';">Reset
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-scrollable">
                                    {% render_table movies %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script type='text/javascript'>
        $(document).ready(function () {
            var is_superuser = "{{ request.user.is_superuser }}";

            if (is_superuser == 'True') {
                var id = $('.id:not(:first)');
                id.each(function (index, value) {
                    $(this).html('<a href="/movie/' + $(this).html() + '/edit/">'+$(this).html()+'</a>');
                });
            }
        });
    </script>
{% endblock %}
